.gallery{
	position: absolute;
	z-index: 1;
	width: 95%;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;}
	.gallery img{
		width: 100%;
		border-radius: 20pt;
		border-color: aqua;
		border:3px solid white; 
		
	}
	
	  .gallery img:hover { 
		border: 3px solid pink; 
	  } 
	.item{
	border: 2px solid black;
	
	}
	.gallery img.muuri-item-dragging {
		z-index: 3;
	  }
	.gallery img.muuri-item-releasing {
		z-index: 2;
	  }
	.gallery img.muuri-item-hidden {
		z-index: 0;
	  }
	.item-content {
		position: relative;
		width: 100%;
		height: 100%;
	  }